node_modules

# Node modules en cualquier subcarpeta (incluyendo proyectos en /projects/)
**/node_modules/

ui-species-workspace-0.0.0.tgz

# Salidas de build
dist/
out-tsc/
coverage/

# Archivos temporales
*.log
*.tmp
*.temp
*.swp

# IDEs
.vscode/
.idea/

# Sistemas operativos
.DS_Store
Thumbs.db

# Angular environment files (si contienen claves sensibles)
src/environments/environment.*.ts

# NPM / Yarn / PNPM lockfiles (elige según uses)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Angular cache
.angular/cache/

# Others
npm-debug.log*
.env
.env.*
